<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlaxNDs21CmFmKgyvzCiBczOkyN1e12N4</string>
	<key>GCM_SENDER_ID</key>
	<string>988806572251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradProj</string>
	<key>PROJECT_ID</key>
	<string>gradproj-a818c</string>
	<key>STORAGE_BUCKET</key>
	<string>gradproj-a818c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988806572251:ios:a6fbeb3914b88f3ac8c4fe</string>
</dict>
</plist>